@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@200;300;400&family=Rubik+Wet+Paint&display=swap');

html {
    font-family: Poppins;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --red: #ed1c24;
    --white: #ffffff;
    --black: #000000;
    --grey: #0f0f0f;
    --green: #28a745;
}

/* navbar started */
.logo-img {
    width: 165px;
}

.nav-items {
    font-size: 1.6rem;
}

.franchise-btn {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 12px 16.5px;
    border-radius: 30px;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
}

.order-btn {
    background-color: var(--red);
    color: var(--white);
    padding: 15px 13.5px;
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: inherit;
}

.arrow-icon {
    color: var(--red);
}

.icon-bg {
    background-color: var(--white);
    padding: 4px 8px;
    margin-left: 2px;
    border-radius: 20px;
}
/* navbar ended */